body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #A3B4C8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 80px;
}

.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

/* profile */

.profile-container {
    margin-top: 70px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 60px;
}

.profile-container img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile-container h1 {
    margin: 10px 0;
}

.profile-container p {
    margin: 5px 0;
}

.buttons-container {
    margin-top: 20px;
}

.buttons-container button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.buttons-container button:hover {
    background-color: #0056b3;
}

.button-box {
    background-color: white;
    padding-top: 30px;
    border: 1px solid #022E51;
    border-radius: 20px;
}

.button-box button.btn {
    color: white;
    background-color: #022E51;
    border-radius: 20px;
    margin: 5px;
}

.button-box button.btn:hover {
    background-color: #0056b3;
}

.button-box a.btn {
    color: white;
    background-color: #022E51;
    border-radius: 20px;
    margin: 5px;
}

.button-box a.btn:hover {
    background-color: #cc6d3d;
}

/* login */

.login-container {
    margin-top: 70px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.btn {
    width: 30%;
    color: white;
    background-color: #B74803;
}

.btn:hover {
    background-color: #cc6d3d;
}

.or {
    margin: 10px;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#id_username.form-control,
#id_password.form-control {
    align-items: center;
    border-radius: 20px;
    width: 50%;
    margin-bottom: 15px;
}

/* navbar */

.navbar {
    background-color: #022E51;
    padding: 20px;
}

.navbar-text {
    color: white;
    font-size: xx-large;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}

.fa-solid {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.nav-link {
    margin-right: 15px; /* Add space between nav links */
}

/* footer */

footer {
    background-color: #022E51;
    padding: 20px;
    margin-top: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-logout {
    color: white;
    background-color: #B74803;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
/* signup */

.signup-container {
    margin-top: 70px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.helptext {
    display: none;
}

ul {
    display: none;
}

.signup-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup-container form .form-group {
    width: 100%;
    display: flex;
    justify-content: center;
}

.signup-container input{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 15px;
}

.signup-container form button {
    width: 30%;
    border-radius: 20px;
}

#id_image {
    display: none;
}

#id_image_label {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    background-color: #B74803;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

#id_image_label:hover {
    background-color: #cc6d3d;
}

.signup-container #id_username,
.signup-container #id_first_name,
.signup-container #id_last_name,
.signup-container #id_email,
.signup-container #id_address,
.signup-container #id_phone,
.signup-container #id_country,
.signup-container #id_password1,
.signup-container #id_password2 {
    width: 60%;
    height: 40px;
    border-radius: 20px;
}

.center-text {
    text-align: center;
}
.center-text::placeholder {
    text-align: center;
}

/* logout */

.logout-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.logout-button:hover {
    color: #B74803;
    font-size: 40px;
}

#logout {
    background-color: #B74803;
    padding: 10px;
    font-size: 20px;
}

/* edit profile */

.edit-container {
    margin-top: 70px;
    margin-bottom: 70px;
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-container #id_username,
.edit-container #id_first_name,
.edit-container #id_last_name,
.edit-container #id_email,
.edit-container #id_address,
.edit-container #id_phone,
.edit-container #id_country,
.edit-container #id_password1,
.edit-container #id_password2 {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin:10px;
}

.edit-container label.btn {
    margin-top: 20px;
    width: 80%;
    border-radius: 20px;
}

.form-group #text {
    color: #B74803;
}

.edit-container button {
    width: 60%;
    border-radius: 20px;
    margin-top: 20px;
}

/* delete education */

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.delete-container {
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-delete1 {
    width: 100px;
    color: white;
    background-color: #B74803;
    border-radius: 20px;
    padding: 10px;
    border: none;
    margin: 5px;
}

.btn-delete1:hover {
    background-color: #cc6d3d;
}

.btn-delete {
    width: 100px;
    color: white;
    background-color: #022E51;
    border-radius: 20px;
    padding: 10px;
    border: none;
    margin: 5px;
}

.btn-delete:hover {
    background-color: #0056b3;
}

.confirm-delete-container {
    margin-top: 80px;
}

/* resume page 1 */

.resume-container {
    margin-top: 120px;
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 990px) {
    .resume-container {
        margin-bottom: 60px;
    }
}

.btn-resume {
    color: white;
    background-color: #B74803;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.btn-resume:hover {
    background-color: #cc6d3d;
}

.extra-margin {
    margin-left: 140px; /* Adjust this value as needed */
}

.extra-margin2 {
    margin-left: 60px; /* Adjust this value as needed */
}