{% extends "base_generic.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12 text-center">
                <div class="profile-container mx-auto">
                    <img src="{% static 'images/default.png' %}" alt="Profile Picture" class="img-fluid rounded-circle mb-3">
                    <h1>John Doe</h1>
                    <p>Address: 123 Main St, Anytown</p>
                    <p>Country: USA</p>
                    <p>Phone: (123) 456-7890</p>
                    <p>Email: john.doe@example.com</p>
                    <div class="buttons-container mt-4">
                        <div class="btn-group d-flex flex-wrap" role="group" aria-label="Profile Actions">
                            <button type="button" class="btn btn-primary flex-fill m-1">Profile</button>
                            <button type="button" class="btn btn-primary flex-fill m-1">Work Experience</button>
                            <button type="button" class="btn btn-primary flex-fill m-1">Educations</button>
                            <button type="button" class="btn btn-primary flex-fill m-1">Skills</button>
                            <a href="{% url 'profile' %}" class="btn btn-primary flex-fill m-1">Edit Profile</a>
                            <button type="button" class="btn btn-primary flex-fill m-1">Resume</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}